<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.androidtown.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        // 확인용
        <activity
            android:name=".WalletActivity"
            android:label="지갑주소입력" />
        <activity
            android:name=".ShowWalletActivity"
            android:label="계정확인" />
        <activity
            android:name=".ChargeActivity"
            android:label="잔액충전" />
        <activity
            android:name=".BorrowHistoryActivity"
            android:label="예약내역" />
        // 확인용
        <activity
            android:name=".TimeActivity"
            android:label="자전거예약시간" />
        <activity
            android:name=".ConfirmActivity"
            android:label="예약확인" />
        <activity
            android:name=".Borrow2Activity"
            android:label="대여/반납" />
        <activity
            android:name=".BorrowActivity"
            android:label="대여/반납" />
        <activity
            android:name=".ExtendActivity"
            android:label="연장" />
        <activity
            android:name=".PauseActivity"
            android:label="일시정지" />
        <activity
            android:name=".ReturnActivity"
            android:label="반납" />
        <activity
            android:name=".ShowBorrowActivity"
            android:label="예약정보"/>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBM2hMKkhAy-uoMGnAH47SFPXlxpY5UWrI"/>
    </application>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.gsf.permission.READ_GSERVICES"/>
</manifest>